.wrapper {
  // temporary margin for early implementation
  margin: .5rem 0rem;

  // Temporary styling for early implementation

}

.toggle-switch {
  // TODO: Replace with actual CSS global variables for transition/colors/margin/border-radius
  background-color: var(--button-background-color);
  // border-radius: var(--common-border-radius);
  border-radius: var(--button-border-radius);
  border: var(--common-border-size) solid var(--button-border-color);
  color: var(--button-text-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem 1.0rem;
  text-align: center;
  transition: background-color 100ms;
  width: 5rem;

  &:hover {
    background-color: var(--button-hover-background-color);
    cursor: pointer;
  }
}