.badge {
  background-color: var(--primary-color);
  border-radius: var(--badge-border-radius);
  color: var(--badge-text-color);
  flex-grow: 0;
  font-weight: bold;
  margin-right: var(--badge-margin-right);
  padding: var(--badge-padding);
}