@use "../../styles/globals.scss" as g;

// a lot of these rules are moved to mixins in globals.scss so that they can be used
//  in places (PuzzleSelectionContainer) for custom button behavior.

.app-button {
  @include g.button-normal-state();

  &:hover:not(:disabled), &:hover:not(.loading), .active-route & {
    @include g.button-hover-state();

    &.delete-unlocked {
      // background-color: ;
      color: g.$delete-unlocked-font-color;
    }
  }

  &:disabled, &.loading {
    opacity: .5;
  }

  &.delete-unlocked {
    color: g.$delete-unlocked-font-color;
  }
}

.button-icon-wrapper {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin-left: .5rem;
  pointer-events: none;
  justify-content: center;

  &.no-margin {
    margin-right: 0rem;
  }

  &.waiting, &.loading {
    animation: spin 1s linear infinite;
  }
}
