@use "sass:color";

// ======================
// common sizes/variables
// ======================
$app-body-padding: .5rem;
$app-padding-top: 5.4rem;
$common-border-radius: 12px;
$common-border-size: 2px;
$common-box-shadow: 0px 12px 32px #00000033;
$common-gap: 1rem;
$common-padding: 1rem;
$common-margin: 1rem;
$content-container-max-width: 920px; // TODO: what is this for?
$content-icon-size: 92px;
$full-screen-background-opacity: .6;
$horizontal-divider-thickness: 2px;
$input-box-max-width: calc($content-container-max-width / 2);
$menu-list-item-margin: 1rem;
$section-header-font-size: 1.4rem;
$ui-icon-size: 32px;

// =====
// fonts
// =====
$body-font: "Inter Tight";
$mono-font: "JetBrains Mono";

// ================
// transition times
// ================
$ui-fast-transition: 100ms;
$ui-slow-transition: 250ms;
$background-color-transition: 1000ms;

// =================
// colors (specific)
// =================
$dark-gray-100: #626466;
$dark-gray-200: #4c4e50;
$dark-gray-300: #353638;
$dark-gray-400: #161717;
$light-gray-100: #edeff2;
$light-gray-200: #d8dbde;
$light-gray-300: #c8cbce;
$light-gray-400: #a4a9ae;
$red-100: #ff6666;
$red-200: #da4c4c;
$red-300: #de3333;

$rose: #f40076;
$pumpkin: #ff8c42;
$picton-blue: #00a7e1;
$aquamarine: #42e2b8;

// ====================
// colors (temp shades)
// ====================
$cerulean: #37718E;
$indigo-dye: #254E70;
$silver-lake-blue: #4F86C6;
// $slate-blue: #744FC6;
$slate-blue: #3299d0;


// =============
// colors (role)
// =============
// $background-color: 
$border-highlight-color: $light-gray-300;
$button-background-color: transparent;
$button-border-color: $light-gray-400;
$button-border-hover-color: $light-gray-100;
$button-hover-background-color: $light-gray-100;
$button-hover-text-color: $dark-gray-300;
$content-container-completed-color: $dark-gray-300;
$content-container-completed-background-color: $light-gray-100;
$content-container-completed-border-color: $light-gray-100;
$delete-unlocked-fill-color: $red-300;
$delete-unlocked-font-color: $light-gray-100;
$error-message-background-color: $red-100;
$error-message-border-color: $red-200;
$error-message-font-color: $red-200;
$full-screen-panel-background-color: rgb(16, 16, 16);
$horizontal-divider-color: $light-gray-200;
$icon-completed-border-color: $light-gray-100;
$login-container-border-color: $light-gray-100;
$section-background-color: $full-screen-panel-background-color;
$menu-header-border-color: $light-gray-400;
$text-light-color: $dark-gray-400;
$text-dark-color: $light-gray-100;
$text-input-active-border-color: $light-gray-100;
$text-input-error-border-color: $red-100;


// ======================
// responsive breakpoints
// ======================
$xs-breakpoint: 375px;
$s-breakpoint: 768px;
$m-breakpoint: 1280px;
$l-breakpoint: 1920px;

// ======
// mixins
// ======
@mixin set-responsive-widths($xs-width, $s-width, $m-width, $l-width) {
  //375px
  width: $xs-width;

  //768px
  @media (min-width: $s-breakpoint) {
    // margin: 0 auto;
    width: $s-width;
  }
  //1280px
  @media (min-width: $m-breakpoint) {
    width: $m-width;
  }
  //1920px
  @media (min-width: $l-breakpoint) {
    width: $l-width;
  }
}

@mixin standard-responsive-widths {
  //375px
  width: 100%;

  //768px
  @media (min-width: $s-breakpoint) {
    // margin: 0 auto;
    width: 768px;
  }
  //1280px
  @media (min-width: $m-breakpoint) {
    width: 1024px;
  }
  //1920px
  @media (min-width: $l-breakpoint) {
    width: 1440px;
  }
}

@mixin section-header-styles {
  font-size: $section-header-font-size;
  margin-top: 0rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid $button-border-color;
}

@mixin common-border-styling ($border-color) {
  border: 2px solid $border-color;
  border-radius: $common-border-radius;
}

@mixin full-screen-panel-styling {
  backdrop-filter: blur(20px);
  background-color: rgba($full-screen-panel-background-color, $full-screen-background-opacity);
  height: 100vh;
  left: 0;
  opacity: 0%;
  position: fixed;
  transition: opacity $ui-fast-transition;
  top: 0;
  width: 100vw;
  z-index: -100;
  // visibility: hidden;

  &.active {
    // visibility: visible;
    opacity: 100%;
    z-index: 10;
  }
}

@mixin inline-mono-styling {
  // use with <code> and certain spans on the user profile
  background-color: rgba(0,0,0,0.3);
  border-radius: $common-border-radius;
  font-family: $mono-font;
  font-size: .9rem;
  padding: .2rem .5rem;
}

@mixin glow-border ($border-color){
  border-color: $border-color;
  box-shadow: 0px 0px 25px color.adjust($border-color, $alpha: -.8);
}

@mixin glow-border-small ($border-color){
  border-color: $border-color;
  box-shadow: 0px 0px 10px color.adjust($border-color, $alpha: -.8);
}

// for use on the wrappers for icons that appear within body content - things like
//  .achievement-icon-wrapper and .puzzle-group-icon
@mixin content-icon-wrapper-styling {
  align-items: center;
  border: 2px solid $achievement-border-color;
  border-radius: $common-border-radius;
  display: flex;
  // TODO: Adjust this based on window size? Make smaller responsive sizes?
  max-height: $content-icon-size;
  max-width: $content-icon-size;
  min-height: $content-icon-size;
  min-width: $content-icon-size;
  justify-content: center;

  .complete & {
    @include glow-border-small($icon-completed-border-color);
    // border: 2px solid $icon-completed-border-color;
    // border: 2px solid red;
  }
}

// for use with button unhovered states, which might need to be explicitly supplied
@mixin button-normal-state {
  align-items: center;
  background-color: $button-background-color;
  border-radius: $common-border-radius;
  border: $common-border-size solid;
  border-color: $button-border-color;
  box-shadow: 0px 0px 0px $button-border-color;
  color: $text-dark-color;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  opacity: 1;
  padding: .6rem 1rem;
  transition: 
    background-color $ui-fast-transition, 
    border-color $ui-fast-transition, 
    box-shadow $ui-fast-transition, 
    color $ui-fast-transition, 
    opacity $ui-fast-transition;

  .button-icon-wrapper svg path {
    color: $text-dark-color;
  }
}

// for use with button hover states, which might not always be applied to just :hover
@mixin button-hover-state {
  @include glow-border($button-border-hover-color);
  background-color: $button-hover-background-color;
  color: $button-hover-text-color;
  cursor: pointer;

  .button-icon-wrapper svg path {
    color: $button-hover-text-color;
  }

  &.delete-unlocked .button-icon-wrapper svg path {
    color: $delete-unlocked-font-color;
  }

  &.delete-unlocked { 
    background-color: $delete-unlocked-fill-color;
    border-color: $delete-unlocked-fill-color;
  }
}
