@use "../../styles/globals.scss" as g;

.content {
  border-radius: g.$common-border-radius;
  border: g.$common-border-size solid transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: g.$common-margin;
  padding: calc(g.$common-padding * 2);
  transition: 
    background-color var(--ui-fast-transition), 
    color var(--ui-fast-transition); 

  
  // remove top margin from first Content in a Section
  .section > &:first-child {
    margin-top: g.$common-margin;
  }

  &.full-width {
    border-radius: 0rem;
    width: 100%;
  }

  // give fixed-width Contents the standard responsive widths
  &.fixed-width {
    @include g.standard-responsive-widths();
  }

  // ensure sub-Content elements fill their parent container, be it another
  //  Content or ContentGroup
  &.fixed-width > &, .content-group > & {
    width: 100%;
  }

  // ==========================
  // background opacity classes
  // ==========================
  &.opaque-bg {
    background-color: rgba(g.$dark-gray-200, .6);
  }

  &.transparent-bg {
    background-color: #FFFFFF00;
  }

  &.centered {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.no-padding {
    padding: 0rem;
  }
}