.nav-bar-group {
  left: 0px;
  top: 0px;
  width: 100vw;
  z-index: 10;

  &.fixed { 
    position: fixed;
  }
}

.nav-bar, .sub-nav-bar {
  background-color: var(--nav-bar-background-color);
  color: var(--nav-bar-text-color);

}

.nav-bar {

}

.sub-nav-bar {

}

.nav-list {
  
}