.wrapper {
  input {
    border-radius: var(--common-border-radius);
    border: var(--common-border-size) solid var(--border-color);
    font-size: var(--input-font-size);
    padding: var(--input-padding);
  }
}
